body {
   font-family: 'Satisfy', cursive;
   color:red;
   background:grey;
}

h1 {
    font-size: 1.5rem;
}

input, button {
    font-size: 1.2rem;
    padding: 0.5rem;
}

input {
    width: 20em;
}

.list > li {
    list-style-type: square;
}

.list > li:nth-child(even) {
    background-color: black;
}